html {
  overflow-y: scroll;
}

body {
  text-align: center;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  line-height: 0;
}

a:link, a:visited {
  color: #404040;
  text-decoration: none;
}

/* main content area */

.container {
  display: inline-block;
  margin-top: 24vmin;
  margin-bottom: 24vmin;
}

.content {
  color: #404040;
  display: inline-block;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  width: 56vmin;

  animation: fade-in 0.5s ease-in 0s 1 normal;
}

.name {
  font-size: 8vmin;
}

.headline {
  font-size: 2vmin;
}

.links {
  margin: 1vmin;
}

.links img {
  height: 4vmin;
  margin: 1vmin;
  opacity: 0.75;
  width: 4vmin;
}

.links img:hover {
  opacity: 0.5;
}

/* nav bar */

.nav {
  float: left;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3vmin;
  font-weight: 600;
  margin: 2vmin 3vmin 0 0;
  text-align: right;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li:hover {
  opacity: 0.25;
}

#li1, #li2, #li3, #li4 {
  animation: fade-in 0.4s ease-in 0s 1 normal;
  animation-fill-mode: backwards;
}

#li1 {
  animation-delay: 0.4s;
}

#li2 {
  animation-delay: 0.6s;
}

#li3 {
  animation-delay: 0.8s;
}

#li4 {
  animation-delay: 1.0s;
}

#invis {
  float: right;
  margin: 2vmin 0 0 3vmin;
  text-align: left;
  visibility: hidden;
}

/* page-specific */

#about-container {
  font-size: 2vmin;
  margin-top: 2vmin;
  margin-left: 1vmin;
  text-align: left;
}

#projects-container {
  font-size: 2vmin;
  margin-top: 2vmin;
  margin-left: 1vmin;
  text-align: left;
}

.project {
  margin-bottom: 4vmin;
}

#other-container {
  font-size: 2vmin;
  margin-top: 2vmin;
  margin-left: 1vmin;
  text-align: left;
}

.other {
  margin-bottom: 3vmin;
  margin-top: 3vmin;
}

#first-other {
  margin-top: 2vmin;
}

#steam-link {
  color: black;
}

/* animations */

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opactiy: 0; }
}