html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  text-align: center;
}

p {
  margin: 0;
}

a {
  color: #404040;
  display: inline-block;
  line-height: 0;
}

a:link, a:visited {
  text-decoration: none;
}

/* main content area */

.container {
  display: inline-block;
  margin-top: 128px;
  margin-bottom: 128px;
}

.content {
  color: #404040;
  display: inline-block;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  width: 512px;

  animation: fade-in 0.5s ease-in 0s 1 normal;
}

.name {
  font-size: 64px;
}

.headline {
  font-size: 16px;
}

.links {
  margin: 0px;
}

.links img {
  height: 64px;
  margin: 8px;
  opacity: 0.75;
  width: 32px;
}

.links img:hover {
  opacity: 0.5;
}

/* nav bar */

.nav {
  float: left;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 16px 16px 0px 0px;
  text-align: right;
  width: 256px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li:hover {
  opacity: 0.25;
}

.nav-active {
  opacity: 0.25;
}

#li2, #li3, #li4 {
  animation: fade-in 0.4s ease-in 0s 1 normal;
  animation-fill-mode: backwards;
}

#li1 {
  animation: fade-in-partial 0.4s ease-in 0s 1 normal;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}

#li2 {
  animation-delay: 0.6s;
}

#li3 {
  animation-delay: 0.8s;
}

#li4 {
  animation-delay: 1.0s;
}

.right-nav {
  float: right;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0 0 16px;
  text-align: left;
  width: 256px;
}

.right-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right-nav li:hover {
  opacity: 0.25;
}

.invis {
  visibility: hidden;
}

/* content pages */

#about-container {
  font-size: 14px;
  margin-top: 16px;
  margin-left: 16px;
  text-align: left;
}

#projects-container {
  font-size: 14px;
  margin-top: 16px;
  margin-left: 16px;
  text-align: left;
}

#random-container {
  font-size: 14px;
  margin-top: 16px;
  margin-left: 16px;
  text-align: left;
}

#cf-picker {
  font-size: 16px;
  margin-top: 16px;
  margin-left: 16px;
  text-align: left;
}

#tags-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#tags-tooltip #tags-tooltip-text {
  font-size: 12px;
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 150%;

  opacity: 0;
  transition: opacity 0.3s;
}

#tags-tooltip:hover #tags-tooltip-text {
  visibility: visible;
  opacity: 1;
}

#result-container {
  margin-top: 16px;
}

#result-link-div {
  display: none;
  font-size: 24px;
}

#result-nolink-div {
  display: none;
  font-size: 24px;
}

.hline {
  margin-top: 32px;
  margin-bottom: 32px;
}

.black-link {
  color: black;
  font-weight: 600;
  
  transition: opacity 0.25s ease;
}

.black-link:hover {
  opacity: 0.5;
}

/* animations */

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-in-partial {
  from { opacity: 0; }
  to   { opacity: 0.25; }
}